/*
	Some global styling data
*/

//Screen resolutions
$app-screen-xlg: 9999px;
$app-screen-lg: 1400px;
$app-screen-md: 900px;
$app-screen-sm: 768px;
$app-screen-xsm: 550px;
//Theme color
/*$app-color: rgb(234, 172, 42);
$app-color-highlight: rgb(255, 248, 118);*/
$app-color-primary: rgb(100, 100, 100);
$app-color-secondary: rgb(170, 170, 170);
$app-color-tertiary: rgb(210, 210, 210);