/*
	Some global styling data
*/

//Screen resolutions
$app-screen-xlg: 9999px;
$app-screen-lg: 1400px;
$app-screen-md: 900px;
$app-screen-sm: 768px;
$app-screen-xsm: 550px;
//Theme color
/*$app-color: rgb(234, 172, 42);
$app-color-highlight: rgb(255, 248, 118);*/